DB_HOST=localhost
DOCKER_DB_HOST=mysql-db
DB_PORT=3306
DOCKER_DB_PORT=3306
DB_NAME=register
DB_USERNAME=shareduser
DB_PASSWORD=your_db_password

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=register
MYSQL_USER=shareduser
MYSQL_PASSWORD=your_db_password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME=Training Center of Provincial Police Region 5
SMTP_SECURE=tls
FORCE_HTTPS=0
TRUST_PROXY=0
