DB_HOST=localhost
DOCKER_DB_HOST=mysql-db
DB_PORT=3306
DOCKER_DB_PORT=3306
DB_NAME=register
DB_USERNAME=shareduser
DB_PASSWORD=1234
FORCE_HTTPS=0
TRUST_PROXY=0

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=register
MYSQL_USER=shareduser
MYSQL_PASSWORD=1234

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME=Training Center of Provincial Police Region 5
SMTP_SECURE=tls
