RewriteEngine On

RewriteRule ^(database|docs|scripts|docker)(/|$) - [F,L]
RewriteRule ^src/(config|includes|vendor)(/|$) - [F,L]
RewriteRule ^(\.env(\..*)?|docker-compose(-win)?\.yml|Dockerfile|\.dockerignore)$ - [F,L]
RewriteRule ^src/ - [L]
RewriteRule ^assets/ - [L]
RewriteRule ^upload/ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ src/login.php [L]
RewriteRule ^(.+\.php)$ src/$1 [L,QSA]
